.left-side-menu {
	position: fixed; /* фиксируем наше меню */
    /*top: 200px;  положение меню относительно верхнего края браузера */
    left: 0; /* прилипили меню к левому краю */
    padding: 10px;

}